/*#### Styles project Nemium D ####*/
:root {
  /*Color nemium C*/
  --colorParrafo-C: #545454;
  --colorLi-C: #5551FF;
  --colorPre: #ABAAF6;
  /*--------------*/
  /*Color nemium B*/
  --background-B: #251F24;
  --colorP: #A5A3A5;
  --preBackg-B: #3A3539;
  --linkMail: #157EFB;
  /*--------------*/
  --black40: #000000;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
  --barra9: #424242;
  --white5: #FFFFFF;
  --back-groundPre: #FEC62E;
  --yellow4: #FAFA04;
  --debug3: #FF0000;
  --green2: #008000;
}

body {
  color: var(--gray30);
  font-family: 'Nunito', sans-serif;
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

/*transition for browser*/
html {
  scroll-behavior: smooth;
}

/*Unordered list of project variants*/
.nav-variants {
  margin-block-end: 32px;
  margin: auto;
}

.nav-variants p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-inline: 0;
}

.nav-variants li {
  list-style: none;
}

.nav-variants ul {
  padding-inline: 0;
}

.nav-variants ul li {
  color: var(--gray10);
  padding-inline-start: 0;
  margin-block-end: 12px;
  line-height: 24px;
}

/*Class hover*/
.nav-variants li:hover {
  background: var(--black40);
  color: var(--white5);
  font-weight: bold;
  border: 3px solid var(--back-groundPre);
}

.nav-variants li:nth-child(4) {
  background: var(--black40);
  color: var(--white5);
  font-weight: bold;
}

a {
  color: var(--gray30);
  text-decoration: none;
}

/*Position header-content*/
.header {
  margin-block-start: 20px;
}

.header-content {
  padding-inline: 24px;
}

header {
  font-size: 14px;
  color: var(--black40);
  /*width: 188px;
  position: absolute;
  right: -200px;
  z-index: 1;*/
}

header a {
  color: var(--gray10);
  text-decoration: none;
}

header a:hover {
  color: var(--white5);
}

header p {
  line-height: 16px;
  padding-inline: 0;
  text-align: left;
}

header li {
  margin-bottom: 10px;
}

.nav-variants {
  margin-bottom: 20px;
}

.nav-content p {
  margin-block-start: 60px;
  margin-block-end: 8px;
  color: var(--black40);
}

/*Class hover*/
.nav-content li:hover {
  background: var(--colorLi-C);
  color: var(--white5);
  font-weight: bold;
  border: 3px solid var(--back-groundPre);
}

.nav-content li:first-child {
  background: var(--colorLi-C);
  color: var(--white5);
  font-weight: bold;
}


.nav-content details summary {
  color: var(--black40);
  font-weight: bold;
  line-height: 24px;
  outline: 0;
  margin-block-start: 8px;
  margin-block-end: 16px;
  cursor: pointer;
}

.nav-content a:hover {
  color: var(--white5);
  font-weight: bold;
}


/*image background*/
.hero {
  background: linear-gradient(274.51deg, rgba(74, 0, 224, 0.6) 5%, rgba(142, 45, 226, 0.5) 130.61%), url(../image/backgroung-two.png);
  /*height: 350px;*/
  background-size: cover;
  height: 50px;
}

h1 {
  font-family: 'Rubik';
  font-style: normal;
  color: var(--black40);
  font-weight: 700;
  font-size: 60px;
  line-height: 71px;
  text-align: center;
  margin-block-start: 64px;
  margin-block-end: 16px;
}

p {
  font-family: 'Rubik';
  font-style: normal;
  color: var(--colorParrafo-C);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 16px;
  margin-block: 0;
}

hr {
  margin-block: 64px;
}

h2 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: var(--black40);
  margin-block-start: 0;
  margin-block-end: 16px;
}

h3 {
  font-size: 24px;
  margin-block-start: 16px;
  margin-block-end: 24px;
  font-weight: normal;
  position: sticky;
  top: 0;
  padding: 6px;
  background: var(--white5);
}

/*Background al pre*/
pre {
  background: var(--white5);
  color: var(--black40);
  padding: 40px;
  font-family: 'Rubik';
  line-height: 24px;
  overflow: hidden;
  border: none;
  border: 8px solid var(--colorLi-C);
  box-shadow: -10px 10px 0px var(--colorPre);
  box-sizing: border-box;
  text-align: left;
}

/*Estilos de blockquote*/
blockquote {
  text-align: center;
  font-size: 24px;
  margin: 40px 100px;
  padding-left: 16px;
  line-height: 32px;
  border-left: 4px solid var(--colorLi-C);
}

blockquote p {
  text-align: start;
  color: var(--black40);
}

blockquote span {
  color: var(--black40);
}

blockquote span::before {
  content: '-';
}


/*wrapper*/
.main {
  /*background-color: var(--background-B);*/
  background: var(--white5);
  display: block;
}

.wrapper {
  max-inline-size: 903px;
  margin-inline: auto;
  align-items: center;
}

.main-content {
  /*background-color: var(--background-B);*/
  padding-inline: 16px;
  text-align: center;
}

/*######
Se crea una clase utiliraria para depurar (debug)
  ######*/
.debug {
  box-shadow: 0 0 0 4px var(--debug3);
  /*box-shadow: inset 0 0 0 4px red;*/
  /*outline: 1px solid red;*/
}

/*Se crea hermano directo para ocultar hr*/
.section-content+hr {
  display: none;
}

.section-content img {
  margin: auto;
  margin-block-start: 40px;
  display: block;
  max-inline-size: 100%;
  /* max-width */
}

/*Se utilizará counter-reset*/
.section-content {
  counter-reset: titleList;
}

/*Incremento al contador*/
.section-content h3 {
  counter-increment: titleList;
  padding-bottom: 4px;
}

/*Pseudo elementos*/
.section-content h3::before {
  /*Se agrega el counter*/
  content: counter(titleList, decimal) '. ';
}


/*Margenes entre sections*/
.section-content {
  margin-top: 164px;
}

/*quita el margen de la sección*/
.section-content:first-of-type {
  margin: 0;
}

.section-content-modelo {
  margin-top: 164px;
  text-align: left;
}

.section-content-modelo p {
  text-align: left;
}

/*Estilos a los h3 de la section 3*/
.section-content-modelo h3 {
  margin: 40px 0 16px;
}

/*Estilo a listas ordenadas*/
.section-content-modelo ol li {
  margin-bottom: 16px;
}

/*Estilo a las listas no ordenadas*/
.section-content-modelo ul li {
  margin-bottom: 16px;
}

.section-content-modelo h2 {
  margin-top: 40px;
  margin-bottom: 0;
}

.section-content-modelo img {
  margin: auto;
  max-inline-size: 100%;
  /* max-width */
}

/*Styles to slider*/
/*.slider {
}*/
.slider-container {
  /*block-size: 100px;*/
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}

.video {
  margin: 0;
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list {
  text-align: center;
  margin-block-start: 10px;
}

.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  border-radius: 50%;
  background: var(--gray10);
}

.slider-bullet:hover {
  background: var(--black40);
}

.section-content {
  text-align: left;
  margin-block-start: 72px;
  margin-block-end: 40px;
}

.section-content p {
  text-align: left;
  margin-block: 0;
}

/*Styles form*/
.form input {
  inline-size: 100%;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 16px;
  block-size: 48px;
  color: #424242;
  border: 1px solid #616161;
  outline: none;
  box-sizing: border-box;
  border-radius: 90px;
  margin-block-end: 16px;
}

.form input[type="text"] {
  inline-size: 100%;
  display: block;
}

.form input[type="email"] {
  inline-size: 100%;
  margin-block-end: 0;
}

.button {
  position: relative;
  cursor: pointer;
  background: var(--colorLi-C);
  color: var(--white5);
  inline-size: 30%;
  inset-block-end: 48px;
  inset-inline-end: -70%;
  border-radius: 90px;
  border: none;
  block-size: 48px;
  box-sizing: border-box;
}


/*Styles to footer*/
.footer {
  background: #212429;
  position: relative;
  z-index: 1;
}

.footer-content {
  padding: 48px 0;
}

.footer-copyright,
.social-media {
  color: var(--white5);
  margin: 0;
  text-align: center;
}


.footer-copyright {
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 16px;
}

.social-media a {
  margin-inline-end: 16px;
}

/*## Media Queries y Responsive Design ##*/
@media screen and (min-width: 1366px) {
  .hero {
    block-size: 350px;
  }

  .header {
    position: sticky;
    inset-block-start: -55px;
    scroll-behavior: smooth;
  }

  .header-content {
    position: relative;
    inset-block-start: 45px;
    padding-inline: 0;
    padding-block-start: 0;
  }

  header {
    position: absolute;
    inset-block-start: 0px;
    inset-inline-end: -208px;
    inline-size: 208px;
  }

  .main-content {
    padding-block-start: 0;
  }

  h1 {
    font-size: 58px;
    margin-block-start: 64px;
    line-height: 71.1px;
    font-weight: bold;
  }

  .section-content:last-child {
    margin-block-start: 40px;
    margin-block-end: 80px;
  }
}